$primaryColor: #6777ef !default;
$secondaryColor: #cdd3d8 !default;
$successColor: #47c363 !default;
$infoColor: #3abaf4 !default;
$warningColor: #ffa426 !default;
$dangerColor: #fc544b !default;
$lightColor: #e3eaef !default;
$greyColor: #868e96 !default;
$whitesmokeColor: #f7f9f9 !default;
$darkColor: #191d21 !default;
$mutedColor: #98a6ad !default;
$bodyColor: #f4f6f9 !default;
$fontColor: #6c757d !default;
$fontdarkColor: #34395e !default;
$whiteColor: #ffffff !default;

$formcontrolNormalBackgroundColor: #fdfdff !default;
$formcontrolNormalBorderColor: #e4e6fc !default;
$formcontrolFocusBackgroundColor: #fefeff !default;
$formcontrolFocusBorderColor: #95a0f4 !default;

$sectionTitleLineColor: #6777ef !default;
